h1 Thank you for applying

p staff will call you by 2 days for confirming interview day.
p please take the call if you get this number 03********.
p We are grad to see you and looking forward to working with you.
